WebApi.sln.DotSettings.user
.idea
.git
WebApplication1/bin
WebApplication1/Properties
WebApplication1/WebApplication1.http
Oms/Properties
Oms/bin
Oms/obj
Oms/Oms.http
Models/bin
Models/obj
Migrations/bin
Migrations/obj
Messages/.idea
Messages/bin
Messages/obj
Common/bin
Common/obj