version: '3.9'
services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: postgres
      PGDATA: /var/lib/postgresql/data
    ports:
      - "15532:5432"   # внешний порт 15532, внутренний 5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    command: postgres -c listen_addresses='*'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgbouncer:
    image: pgbouncer/pgbouncer:latest
    container_name: pgbouncer
    environment:
      # Обязательная переменная DATABASES для pgbouncer
      - DATABASES=postgres=host=postgres port=5432 dbname=postgres user=user password=mypassword
      - PGBOUNCER_POOL_MODE=transaction
      - PGBOUNCER_IDLE_TRANSACTION_TIMEOUT=60
      - PGBOUNCER_SERVER_RESET_QUERY_ALWAYS=0
      - PGBOUNCER_SERVER_LIFETIME=3600
      - PGBOUNCER_SERVER_IDLE_TIMEOUT=60
      - PGBOUNCER_MAX_DB_CONNECTIONS=50
      - PGBOUNCER_MAX_CLIENT_CONN=10000
      - PGBOUNCER_RESERVE_POOL_SIZE=5
      - PGBOUNCER_MIN_POOL_SIZE=2
      - PGBOUNCER_DEFAULT_POOL_SIZE=16
      - PGBOUNCER_IGNORE_STARTUP_PARAMETERS=extra_float_digits
    ports:
      - "15432:6432"   # внешний порт 15432, внутренний 6432
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  webapi:
    build:
      context: .
      dockerfile: WebApplication1/Dockerfile
    container_name: webapi
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      DbSettings__MigrationConnectionString: "Host=postgres;Port=5432;Database=postgres;User Id=user;Password=mypassword;Pooling=true;"
      DbSettings__ConnectionString: "Host=pgbouncer;Port=6432;Database=postgres;User Id=user;Password=mypassword;Pooling=true;"
      RabbitMqSettings__HostName: rabbitmq
      RabbitMqSettings__Port: 5672
      RabbitMqSettings__OrderCreatedQueue: oms.order.created
    ports:
      - "5001:8080"
    depends_on:
      postgres:
        condition: service_healthy
      pgbouncer:
        condition: service_started
      rabbitmq:
        condition: service_started
    restart: unless-stopped

  oms-consumer:
    build:
      context: .
      dockerfile: Oms/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      RabbitMqSettings__HostName: rabbitmq
      RabbitMqSettings__Port: 5672
      RabbitMqSettings__OrderCreatedQueue: oms.order.created
      HttpClient__Oms__BaseAddress: "http://webapi:8080"
    deploy:
      replicas: 2
    depends_on:
      rabbitmq:
        condition: service_started
      webapi:
        condition: service_started
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped

volumes:
  pgdata:
  rabbitmq_data: